extends layout

block content
  h1= title
  p Welcome to #{title}
  p.chart_five
  svg.chart_four
  svg.chart_three
  svg.chart_two
  svg.chart
  script( type="text/javascript" src="http://d3js.org/d3.v3.min.js")
  script( type="text/javascript" src="javascripts/chart.js")
